$Width: 100%;
$Width_1: 100px;
$ColorWhite: #fff;
$BoxSizing: border-box;
$Px: 15px;
$C: center;

%flexbox {
    display: flex;
    justify-content: space-between;
}

@mixin darkmode {
    color: $ColorWhite;
    background-color: #181717;
}

body {
    width: $Width;
    font-size: $Px;
    font-weight: 300;
    color: #1d1d1d;
    background-color: #c0c0c0;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    width: $Width;
    padding: 20px 50px;
    background-color: #333;
    @extend %flexbox;
    align-items: $C;
    box-sizing: $BoxSizing;
        .header__logo {
            width: $Width_1;
        }
        .header__icon {
            width: 35px;
            cursor: pointer;
            display: inline-block;
        }
        header i img {
            width: $Width;
        }
}

.main__banner {
    width: $Width;
    padding: 60px 0;
    text-align: $C;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $ColorWhite;
    background-position-y: 60%;
        .banner__title {
            width: $Width;
            font-weight: 600;
            font-size: 30px;
            margin: 10px;
        }
        .banner__title--secondary {
            width: $Width;
            margin: 0 auto;
            font-size: 25px;
            opacity: 0.7;
        }
}

.main__products {
    width: $Width;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: $BoxSizing;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: $C;
        .main__product {
            cursor: pointer;
            text-align: $C;
        }

        .product__img {
            width: 200px;
            margin-bottom: $Px;
        }

        .product__name {
            font-weight: 500;
            font-size: 17px;
            margin-bottom: 5px;
        }

        .product__price {
            font-weight: 300;
            font-size: $Px;
        }
}

.main__cart {
    width: 500px;
    background-color: $ColorWhite;
    padding: 25px;
    box-sizing: $BoxSizing;
    height: $Width;
    position: fixed;
    right: -$Width;
    top: $width_1;
    box-shadow: -19px -1px 22px -$Px rgba(0, 0 ,0 ,0.30);
        .cart__title {
            width: $Width_1;
            text-align: $C;
            font-size: 20px;
            font-weight: 600;
            padding: 25px 0;
            box-sizing: $BoxSizing;
        }

        .cart__products {
            border-bottom: 1px solid #333;
            @extend %flexbox;
            align-items: $C;
            padding: $Px;
            box-sizing: $BoxSizing;
        }

        .cart__product {
            width: 60px;
        }

        .cart__price {
            font-weight: 500;
        }

        .cart__delete {
            width: 25px;
            cursor: pointer;
        }
}

@media (max-width: 820px) {
    .header {
        padding: $Px;
    }

    .header__logo {
        width: 60px;
    }
    .header__icon {
        width: 30px;
    }

    .main__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: $Px;
    }

    .product__img {
        width: 150px;
    }

    .main__cart {
        width: 400px;
        top: 80px;
    }
}

@media (max-width: 480px) {
    .main__banner {
        padding: 30px 0;
    }

    .banner__title {
        font-size: 18px;
    }

    .banner__title--secondary {
        font-size: 16px;
    }

    .main__products {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .product__img {
        width: $width;
        max-width: 200px;
        margin-bottom: 10px;
    }

    .product__name, .product__price {
        padding: 0 10px;
        margin: 0;
    }

    .main__cart {
        width: $Width;
        box-shadow: none;
    }

    .cart__title {
        padding: $Px 0;
    }

    .cart__products {
        flex-direction: column;
        align-items: $C;
    }

    .cart__product {
        width: $Width;
    }
}

@media (prefers-color-scheme: dark) {
    .main {
        @include darkmode;
    }

    .main__cart {
        @include darkmode;
    }
}